.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #118ab2;
  width: 100%;
  min-width: 622px;
}

.app__body {
  display: flex;
  background-color: aliceblue;
  box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75);
  /* margin-top: -50px; */
  height: 90vh;
  width: 95%;
}
