.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid rgb(229, 229, 229, 0.4);
}

.sidebarChat:hover {
  background-color: rgb(245, 250, 255);
}

.sidebarChat__info {
  margin-left: 10px;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
  color: black;
}
